.active{
    text-decoration: underline;
}
.navbar{
    z-index: 999;
}
.productnumber{
    background-color: white;
    color: black;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 15px;
    font-family: lato font;
    border-radius: 3px;
}
.navbar-brand{
    font-weight: bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(244, 246, 249);
    background-color: rgba(244, 246, 249, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.show {
    width:100%;
    display: block;
}
.hide {
    display : none;
}
.cart-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.cart-button :hover{
    text-decoration: underline !important;
}